<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express.js View</title>
</head>
<body>
    <h1>Pokoje</h1>
    <ul>
        <script>
            allRooms = JSON.parse('<%- JSON.stringify(allRooms) %>');
            console.log(allRooms);
        </script>
        <% allRooms.forEach(function(room) { %>
            <li id=<%= room.id %> onClick="dolaczeniDoPokoju(this)">
                Nazwa pokoju: <%= room.name %>
                | Stworzony przez: <%= room.UserCreated.userName %>
                | Całkowita cena obiadu: <%= room.cost %> zł
                | Ilość zajętych miejsc: <%= room.useSlots %>/<%= room.slots %>
            </li>
        <% }); %>
    </ul>

    <script>
        function dolaczeniDoPokoju(object)
        {
            const url = '/dolaczDoPokoju';
            const dataToSend = {
                userId: 1,
                roomId: object.id
            };
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json' // Wysyłanie danych w formacie JSON
                },
                body: JSON.stringify(dataToSend) // Konwertowanie danych na format JSON
            };
                // Wysłanie zapytania POST do API
            fetch(url, options)
                .then(response => {
                    if (!response.ok) {
                    throw new Error('Wystąpił problem z zapytaniem');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data);
                })
                .catch(error => {
                    console.error('Błąd:', error);
                });
        }
    </script>
</body>
</html>